<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
</head>
<body>
<h1>添加段子</h1>
<form  action="index.php?c=Blog&a=doAdd" method="post" enctype="multipart/form-data">
	标题: <input type="text" name="title">
	<br>
	图片: <input type="file" name="image">
	<br>
	内容： <textarea name="content" rows="20" cols="100"></textarea>
	<br>
	分类： 
	<select name="classify">
		<option>请选择</option>
		<?php foreach ($classify as $value) { ?>
		<option disabled="true"><?php echo $value['name']; ?></option>
			<?php foreach ($value['child'] as $v) { ?>
			<option value="<?php echo $v['id']; ?>">--<?php echo $v['name']; ?></option>
			<?php } ?>
		<?php } ?>
		
	</select>
	<br>
	<input type="submit" name="">
</form>
</body>
</html>